
.icon-github:before { content: '\f055'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-stumbleupon:before { content: '\f31e'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-evernote:before { content: '\f333'; } /* '' */
.icon-picasa:before { content: '\f345'; } /* '' */